.full {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.row-kartice {
  background-color: #afd1e6;
  padding-top: 65px;
  padding-bottom: 65px;
  border-top: #127bbd solid 1px;
  border-bottom: #127bbd solid 1px;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.main_ostale,
.top-txt {
  width: 100%;
  text-align: center;
  font-family: Dosis;
  font-style: normal;
  font-weight: bolder;
  padding-top: 15px;
}

.main_ostale {
  position: relative;
  border-top: solid #d9b310 2px;
  border-bottom: solid #d9b310 2px;
  height: auto;
  left: 0;
  top: 10%;
  background: #fff;
  color: #4b6675;
  font-size: xx-large;
}

.top-txt {
  padding-bottom: 2%;
  font-size: 1.5em !important;
  color: #394c57;
  max-width: 60%;
  margin: auto;
}

.slajd {
  width: 100%;
  margin: auto;
  -webkit-box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 1) !important;
  min-height: 100%;
  border: #d4eeff 5px solid;
}

.card-tekst {
  text-align: justify;
  color: #083c5d !important;
}

.card-tekst p {
  font-family: Dosis;
  font-weight: bold;
  font-size: 1em;
  color: #083c5d;
}

.tekst-expanded p {
  font-family: Dosis;
  text-align: justify;
  color: #083c5d !important;
}

/* .footer {
  min-height: 200px;
  background-color: #0d80c7;
} */
